stages:
  - build
  - docker
  - deploy

build_app:
  stage: build
  image: node:20
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - .next
      - node_modules
      - package.json
  only:
    - develop
    - main

docker_build_push:
  stage: docker
  image: docker:27
  services:
    - name: docker:27-dind
      command: ["--tls=false"]
  variables:
    DOCKER_TLS_CERTDIR: ""
    IMAGE_SHA: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    IMAGE_LATEST: $CI_REGISTRY_IMAGE:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH == "main"'
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - docker build -t "$IMAGE_SHA" -t "$IMAGE_LATEST" .
    - docker push "$IMAGE_SHA"
    - docker push "$IMAGE_LATEST"
  needs:
    - build_app

deploy_vercel:
  stage: deploy
  image: node:20
  script:
    - npm install -g vercel
    - if [ "$CI_COMMIT_BRANCH" == "main" ]; then
      vercel --token=$VERCEL_TOKEN --prod --confirm --yes;
      else
      vercel --token=$VERCEL_TOKEN --confirm --yes;
      fi
  only:
    - develop
    - main
  needs:
    - docker_build_push