services:
  app:
    build:
      context: .
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    container_name: next-app
    expose:
      - "3000"
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
